<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
	<meta name="keywords" content="朋乐信息，MES，智能制造,e-work,盘古信息IMS,超威电池,自动化产线,APS,MES,艾普工华,化工MES,EVE,追溯管理,采集管理,IT信息化,数字工厂">
	<meta name="description" content="惠州市朋乐信息技术有限公司是一家专业的企业信息化解决方案服务商，致力于企业制造、人事管理、管理数据、IT规划方面的解决方案及技术服务。公司拥有质量管理、电子工厂管理、制程和计划管理、仓库管理专家顾问多名，DBA，架构师,basis等高级IT服务人员多名。服务为本，共同进步。">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
	<title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>	
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
